<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bonfire - A self-service portal for the Identity Platform - v0.00002</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- dependencies (jquery, handlebars and bootstrap) -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="jquery.dform-1.1.0.js"></script>
	<script type="text/javascript" src="jquery.fittext.js"></script>

    <link rel="stylesheet" type="text/css" href="semantic.min.css">
    <script src="semantic.min.js"></script>
    <style type="text/css">
      body.pushable > .pusher {
          background-color: #DADADA;
      }
      .pusher {
          padding-top: 50px;
      }
      .ui.grid[class*="center aligned"] > .column {
        text-align: left;
      }

      .image {
          margin-top: -100px;
      }
      .column {
          max-width: 450px;
      }
      .content {
        line-height: 50px;
    }
</style>
</head>
<body class="header pushable">
    <div class="ui vertical inverted sidebar menu left visible">
        <div class="item">
          <a href="/">
            <h1 class="ui orange inverted header">
              <img class="ui centered small image" src="images/orange_campfire.png" style="margin-left: 40px;"/>
              <div class="content">
                Bonfire
                <div class="sub header">Self-service console for the Identity Platform</div>
              </div>
            </h1>
        </a>
        </div>

        <a class="item">
          <i class="protect icon"></i>
          Register application
        </a>
        <a class="item disabled">
          <strike>Manage applications</strike><i class="rocket icon"></i>

        </a>
        <a class="item disabled">
          <strike>Account Settings</strike><i class="settings icon"></i>
        </a>
        <a class="item disabled">
          <strike>Sign out</strike><i class="sign out icon"></i>
        </a>
    </div>

   <div class="ui inverted" style="background-color: #DADADA; margin: 0;">
      <div class="ui inverted secondary menu">
         <div class="right item">
              <a class="ui blue icon label">
                <i class="user icon"></i>
                <div class="detail">Logged in as {{ .Name }}</div>
              </a>
          </div>
      </div>
    </div>


    <div class="pusher">
    <div class="ui grid align center container">
        <div class="column">
            
            <h2 class="ui orange icon header">
              <i class="protect icon"></i>
              <div class="content">
                Register application
                <div class="sub header">Give your users a seamless SSO-experience with the Telia Identity Platform.</div>
              </div>
            </h2>
          
            <form class="ui large form" method="POST" action="/create">
              <div class="ui stacked segment">
                    <div class="field">
                        <label>Application name</label>
                        <div class="ui left icon input">
                            <i class="rocket icon"></i>
                            <input name="Name" id="Name" placeholder="Example Application" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label>ClientID</label>
                        <div class="ui left icon input">
                            <i class="privacy icon"></i>
                            <input name="ClientId" id="ClientId" placeholder="exampleApp" type="text">
                            <div class="ui left pointing label" style="width: 120px">A unique <i>camelCase</i> string to identify your application</div>
                        </div>
                    </div>
                    <div class="field">
                          <label>Redirect URI</label>
                          <div class="ui left icon input" >
                              <i class="reply link icon" data-content="Add users to your feed"></i>
                              <input name="RedirectURIs" id="RedirectURIs" placeholder="https://example-app.com/*" type="text">
                              <div class="ui left pointing label" style="width: 120px">
                                A URI that limits where your users may be redirected
                              </div>
                          </div>
                    </div>
                    <input type="submit" class="ui fluid huge orange submit button" value="Register"/>
                    
                </div>
                <div class="ui error message"></div>
            </form>
        </div>
  </div>
<div class="ui grid align center container"  >
  <div class="ui message" style="width: 60%;">
    <i class="close icon"></i>
    <div class="header">
      Claims parsed from your ID Token!
    </div>
    <p>{{ .Claims }}</p>
  </div>
   <div class="ui message"  style="width: 60%;">
    <i class="close icon"></i>
    <div class="header">
      Access Token!
    </div>
    <p>{{ .AccessToken }}</p>
  </div>
   <div class="ui message"  style="width: 60%;margin-bottom: 100px;">
    <i class="close icon"></i>
    <div class="header">
      Refresh Token!
    </div>
    <p>{{ .RefreshToken }}</p>
  </div>
</div> 
</div>

  
</div>    
</body>
</html>
